{% extends 'base.html.twig' %}

{% block title %}MagnDrive{% endblock %}

{% block body %}
<style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
        .container {
            max-width: 800px;
            margin: 100px auto;
            text-align: center;
        }
        h1 {
            font-size: 36px;
            color: #333;
        }
        p {
            font-size: 18px;
            color: #666;
        }
        .btn {
            display: inline-block;
            padding: 10px 10px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .navbar {
            background-color: #333;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar a {
            color: #fff;
            font-size: 18px;
            padding: 10px 20px;
            text-decoration: none;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
</style>

<nav class="navbar">
        <div>
            <img src="https://www.gstatic.com/images/branding/product/2x/drive_48dp.png" alt="Google Drive" style="height: 40px;">
        </div>
        <div>
            <a href="" class="btn">Connexion</a>
            <a href="{{ path('registration') }}" class="btn">Inscription</a>
        </div>
    </nav>
    <div class="container">
        <h1>Bienvenue sur notre Drive</h1>
        <p>Stockez, partagez et accédez à vos fichiers en toute simplicité.</p>
        <a href="#" class="btn">Découvrir</a>
    </div>
    <footer>
        <p>&copy; 2024 MagnDrive. Tous droits réservés.</p>
    </footer>
{% endblock %}
    